/* app css stylesheet */


.phones {
  list-style: none;
}

.thumb {
  float: left;
  margin: -0.5em 1em 1.5em 0;
  padding-top: :1em;
  padding-bottom: 1em;
  height: 225px;
  width: 225px;
}

.phones li {
  clear: both;
  height: 115px;
  padding-top: 15px;
}

ul.products li{
  width: 250px;
  height: 500px;
  display: inline-block;
  vertical-align: top;
}