<div class="jumbotron">
	<div class="container">
	    <h1>Baby's Breath Cosmetics</h1>
	    <div class="row">
	    	<div class="col-md-6">
	    		<h3></h3>
	    		<p></p>
			</div>
	    	<div class="col-md-6">
	    		<h3>Contact Person</h3>
	    		<p>Winky</p>
			    <p>65877475</p>
			    <p><a class="btn btn-primary btn-lg" href="http://websta.me/n/baby_s_breath" role="button">Instagram</a></p>
			</div>
		</div>
	</div>
</div>

