<div class="container-fluid">
<div class="row">
  <div class="col-md-2">
    <!--Sidebar content-->
    <h3><span class="label label-default">Brand Name</span></h3>

    <div baby-brand-name></div>

    <h3><span class="label label-default">Sort By</span></h3>
    <select ng-model="orderProp">
      <option value="price">Lowest Price</option>
      <option value='-price'>Highest Price</option>
      <option value='brandName'>Brand Name</option>
    </select>

  </div>
  <div class="col-md-5">

    <!--Body content-->

      <ul>
        <li ng-repeat="product in products | filter:query | filter:brandName | orderBy:orderProp" class="thumbnail">
          <form class="form-horizontal" id="items" method="POST" action="../ajax/winkybaby.php">
              <div class="control-group">
                  <label class="control-label">Tick for Delete(ID):{{product.id}}</label>
                    <div class="controls">
                        <input type="checkbox" name="id-delete" id="id-delete" value="{{product.id}}">
                    </div>
              </div>
            
              <div class="control-group">
                  <label class="control-label">Image Url:</label>
                    <div class="controls">
                        <input type="text" name="imageUrl-edit" value="{{product.imageUrl}}">
                    </div>
              </div>

                <label>
                    <input type="text" ng-hide="true" name="id-edit" value="{{product.id}}">
                </label>

              <div class="control-group">
                  <label class="control-label">Brand Name:</label>
                    <div class="controls">
                        <input type="text" name="brandName-edit" value="{{product.brandName}}">
                   </div>
              </div>

              <div class="control-group">
                  <label class="control-label">Name: </label>
                    <div class="controls">
                        <input type="text" name="name-edit" value="{{product.name}}">
                   </div>
              </div>

              <div class="control-group">
                  <label class="control-label">Snippet: </label>
                    <div class="controls">
                        <input type="text" name="snippet-edit" value="{{product.snippet}}">
                   </div>
              </div>

              <div class="control-group">
                  <label class="control-label">Price: </label>
                    <div class="controls">
                        <input type="number" name="price-edit" value="{{product.price}}">
                   </div>
              </div>

              <div class="control-group">
                  <label class="control-label">Description: </label>
                    <div class="controls">
                        <textarea rows="5" name="description-edit" value="{{product.description}}">{{product.description}}</textarea>
                   </div>
              </div>

              <div class="control-group">
                  <label class="control-label">Color: </label>
                    <div class="controls">
                        <input type="text" name="color-edit" value="{{product.color}}">
                   </div>
              </div>
              <div class="control-group">
                <div class="controls">
                 <input type="submit" name="submit" value="Edit">
                 <input type="submit" name="submit" value="Delete"> 
               </div>
              </div>
             </form>
            </li>
          </ul>
      </div>

      <div class="col-md-5">
        <form id='adding' method="POST" action="../ajax/winkybaby.php">
          <label for="id-create">ID:</label><input type="text" name="id-create">
          <label for="name-create">name:</label><input type="text" name="name-create">
          <label for="imageUrl-create">imageUrl:</label><input type="text" name="imageUrl-create">
          <label for="snippet-create">snippet:</label><input type="text" name="snippet-create">
          <label for="price-create">price:</label><input type="number" name="price-create">
          <label for="color-create">color:</label><input type="text" name="color-create">
          <label for="description-create">description:</label><input type="text" name="description-create">
          <label for="brandName-create">brandName:</label><input type="text" name="brandName-create">
          <input type='submit' name='submit' value="Add">
        </form>
      </div>

    </div>
    </div>
