<div class="container-fluid">
<div class="row">
  <div class="col-md-2">
    <!--Sidebar content-->
    <h3><span class="label label-default">Brand Name</span></h3>

    <div baby-brand-name></div>

    <h3><span  class="label label-default">Sort By</span></h3>
    <select ng-model="orderProp">
      <option value="price">Lowest Price</option>
      <option value='-price'>Highest Price</option>
      <option value='brandName'>Brand Name</option>
    </select>

  </div>
  <div class="col-md-10">
    <!--Body content-->

    <ul class="products">
      <li ng-repeat="product in products | filter:query | filter:brandName | orderBy:orderProp" class="thumbnail">
        <a href="#/products/{{product.id}}" class="thumb"><img ng-src="{{product.imageUrl}}"></a>
        <a href="#/products/{{product.id}}">{{product.name}}</a>
        <p><strong>Description:</strong> {{product.snippet}}</p>
        <p><strong>Price:</strong> HKD{{product.price | currency}}</p>
        <p><strong>Brand:</strong> {{product.brandName}}</p>
      </li>
    </ul>

  </div>
</div>
</div>
