<div class="container">
	<div class="row">
	<!--Because json is inside the array -->
		<div class="col-md-4 col-1">
			<img ng-src='{{details[0].imageUrl}}'></img>
		</div>
		<div class="col-md-7">
			<h1>{{details[0].name}}</h1>
			<div class="alert alert-info" role="alert">
				<h2>What it is:</h2> <p>{{details[0].snippet}}<p>
				<h2>Description:</h2> <p>{{details[0].description}}<p>
				<small class="label label-info" ng-show="details[0].color ==='true'">This product has variety of colors option, please <a href="#/about-us">contact</a> for more information </small>
			</div>
			<h1>
				<div class="label label-primary">{{details[0].brandName}}</div>
				<div class="label label-success">HKD ${{details[0].price}}</div>
			</h1>
		</div>
	</div>
</div>
